PORT=3000
NODE_ENV=production
JWT_SECRET=change_this_to_a_long_random_secret
WEBMAIL_URL=https://webmail.idea.org.mn
EMAIL_PROVIDER_MODE=manual

SEED_PASSWORD_ALTANZUL=
SEED_PASSWORD_ENKHBOLD=
SEED_PASSWORD_KHULAN=
SEED_PASSWORD_JAMSRANDORJ=
SEED_PASSWORD_MUNKHSOLONGO=
SEED_PASSWORD_LKHAGVASUREN=
SEED_PASSWORD_TSEDENDORJ=
SEED_PASSWORD_ADMIN=
